<html>
  <body>
    <p>Hi {{name}},</p>
    <p>An
      <a href='{{link}}'>announcement</a>
      by
      {{posterName}}
      has been
      {{#if isUpdate}}updated{{else}}posted{{/if}}
      in
      {{courseName}}</p>
  </body>
</html>